<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css" />
    <title>Nexus Website</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">NEXUS</a>
      <div class="fas fa-bars"></div>
      <nav class="navbar">
        <ul>
          <li><a href="#home">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#service">services</a></li>
          <li><a href="#team">team</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="home" class="home">
      <h1 class="banner">web design & development services</h1>
      <h3 class="slogan">you have vision. we have a team to get you there</h3>
      <a href="#contact"><button>get started</button></a>

      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>

      <div class="fas fa-cog nut1"></div>
      <div class="fas fa-cog nut2"></div>
    </section>


    <section id="about" class="about">
      <h1 class="heading">about us</h1>

      <div class="row">
        <div class="content">
          <h3>We build websites that build your business</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea amet
            iure deserunt doloremque voluptate distinctio rerum! Quas sunt
            inventore illum facere minus voluptas fugit, magni quidem cumque!
            Animi, illo magni.
          </p>
        </div>

        <div class="image">
          <img src="../images/about-image.svg" alt="about-img" />
        </div>
      </div>
    </section>


    <section id="service" class="service">
      <h1 class="heading">our services</h1>

      <div class="row">
        <div class="image">
          <img src="../images/img1.svg" alt="web development-img" />
        </div>
        <div class="content">
          <h3>website development</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
            voluptatem, tempore hic deserunt vel temporibus aperiam recusandae
            ratione, obcaecati at qui accusamus enim, laudantium eveniet.
            Inventore voluptas nemo placeat. Voluptas.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="content">
          <h3>mobile freindly</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
            voluptatem, tempore hic deserunt vel temporibus aperiam recusandae
            ratione, obcaecati at qui accusamus enim, laudantium eveniet.
            Inventore voluptas nemo placeat. Voluptas.
          </p>
        </div>
        <div class="image">
          <img src="../images/img2.svg" alt="mobile friendly-img" />
        </div>
      </div>

      <div class="row">
        <div class="image">
          <img src="../images/img3.svg" alt="responsive design-img" />
        </div>
        <div class="content">
          <h3>responsive design</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
            voluptatem, tempore hic deserunt vel temporibus aperiam recusandae
            ratione, obcaecati at qui accusamus enim, laudantium eveniet.
            Inventore voluptas nemo placeat. Voluptas.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="content">
          <h3>web hosting</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
            voluptatem, tempore hic deserunt vel temporibus aperiam recusandae
            ratione, obcaecati at qui accusamus enim, laudantium eveniet.
            Inventore voluptas nemo placeat. Voluptas.
          </p>
        </div>
        <div class="image">
          <img src="../images/img4.svg" alt="web hosting-img" />
        </div>
      </div>

      <div class="row">
        <div class="image">
          <img src="../images/img5.svg" alt="graphic design-img" />
        </div>
        <div class="content">
          <h3>graphic design</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
            voluptatem, tempore hic deserunt vel temporibus aperiam recusandae
            ratione, obcaecati at qui accusamus enim, laudantium eveniet.
            Inventore voluptas nemo placeat. Voluptas.
          </p>
        </div>
        
      </div>
    </section>

    <section id="team" class="team">
      <h1 class="heading">our team</h1>

      <div class="row">
        <div class="card">
          <div class="image"> <img src="../images/pic.jpg" alt="Dharmesh" /></div>
          <div class="info">
            <h3>Dharmesh Kumar</h3>
            <span>Web Developer</span>
            <div class="icons">
              <a href="https://www.linkedin.com/in/dharmesh--kumar/" class="fab fa-linkedin"></a>
              <a href="https://github.com/imDK18" class="fab fa-github"></a>
              <a href="https://www.instagram.com/i_m_dk_18/" class="fab fa-instagram"></a> 
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="contact" class="contact">
      <h1 class="heading">contact us</h1>

      <div class="row">
        <div class="image">
          <img src="../images/contact-image.svg" alt="contact-img" />
        </div>

        <div class="form-container">
          <form action="/submit-feedback" method="post">
            <input type="text" name="name" placeholder="name" required/>
            <input type="email" name="email" placeholder="Email" style="text-transform: none;" required/>
            <textarea name="message" cols="30" rows="10" placeholder="message or feedback" required></textarea>
            <input type="submit" value="Send" />
          </form>
        </div>
      </div>
    </section>

    <section class="footer">
      <h1 class="credit"> ©️ 2024 | All Rights Reserved by Dharmesh </h1>
      <div class="icons">
        <a href="https://www.linkedin.com/in/dharmesh--kumar/" class="fab fa-linkedin"></a>
        <a href="https://github.com/imDK18" class="fab fa-github"></a>
        <a href="https://www.instagram.com/i_m_dk_18/" class="fab fa-instagram"></a>
      </div>
      
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
